NODE_ENV=development

PORT=3000

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5433/DATABASE?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379


STORAGE_ENDPOINT=http://localhost:9000
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=ngtalents_minio
STORAGE_SECRET_KEY=ngtalents_minio_password
STORAGE_BUCKET=ngtalents
STORAGE_FORCE_PATH_STYLE=true
STORAGE_PRESIGNED_URL_EXPIRES_SECONDS=300